@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    font-size: 2em;
}

.wrapper {
    margin: 0 auto;
    max-width: 60rem;
}

.note {
    border-bottom: 1px solid rgba(black, .4);
    padding: 2em 0;
}
footer {
    font-size: .75em;
    text-align: right;
}

time {
    cursor: help;
}